html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

html {
    background: #CC2634 url(images/roma-4.jpg) left center no-repeat;
    -webkit-background-size: 150%;
    background-size: 150%;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: background-image 600ms linear;
    transition: background-image 600ms linear;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
    color: #FFF;
    -webkit-transition: font-size 600ms linear;
    transition: font-size 600ms linear;
    overflow-x: hidden;
    overflow-y: auto;
}

a:hover,
a:active,
a:visited,
a {
    text-decoration: none;
    color: #fff;
}

h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

section {
    margin-left: 10%;
    margin-top: 7%;
    padding-bottom: 50px;
    transition: margin-top 600ms linear;
}

.title h1 {
    font-weight: bold;
    font-size: 10em;
    margin: 0;
    padding: 0;
    line-height: 1.1;
}

.title h1,
.tagline p,
.experience ul,
.external-links ul {
    position: relative;
    display: inline-block;
}

.title h1 span,
.tagline p span,
.experience ul li,
.external-links ul {
    position: relative;
    z-index: 2;
    background-color: #CC2634;
}

.tagline p,
.external-links ul {
    position: relative;
    display: inline-block;
    line-height: 1.5;
}

.experience {
    margin-top: -2.4em
}

.external-links ul{
    margin-top: 1em;
}

/*.title h1:after,
.tagline p:after,
.experience ul:after,
.external-links ul:after {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    background-color: #CC2634;
    width: 99%;
    height: 60%;
    bottom: 0.35em;
    left: -0.03em;
}
.experience ul:after{
    height: 75%;
    top: 0.35em
} */

.tagline p,
.inline-list li {
    font-size: 2em;
}

.inline-list {
    list-style: none;
}

.inline-list li {
    display: inline;
}

.inline-list li + li:before {
    content: " / ";
    display: inline;
    padding: 0 0.2em;
}

.tagline {
    margin-top: 5em;
    margin-bottom: 2em;
}

.external-links {
    margin-top: 2em;
}

/* Background-size */
@media (max-width : 1000px) {
    html {
        -webkit-background-size: cover;
        background-size: cover;
    }
    
    body {
        font-size: 70%;
    }
}

/* ----------- iPad ----------- */
/* Portrait and Landscape */
@media only screen 
    and (min-width: 768px) 
    and (max-width: 1024px) {
        body {
            font-size: 70%;
        }
}

/* Portrait */
@media only screen 
    and (min-width: 768px) 
    and (max-width: 1024px) 
    and (orientation: portrait) {
        html {
            -webkit-background-size: 300%;
            background-size: 300%;
            background-position: 45% 50%;
        }
        section {
            margin-top: 500px;
        }
}

/* ----------- iPhone 4, 5, 5s ----------- */
/* Portrait and Landscape mobile*/
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px) {      
    body {
        font-size: 30%;
    }
    
    .title h1 {
        font-size: 9em;
    }

    section {
          margin-top: 10%;
    }
}

/*portrait mobile*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (orientation: portrait) {
    html {
        background-size: cover;
        -webkit-background-size: cover;
        background-position: 35% 20%;
    }
    
      
}
/* landscape mobile */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (orientation: landscape) {
    html {
        -webkit-background-size: 150%;
        background-size: 150%;
        background-position: left;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) {
      body {
        font-size: 40%;
      }
}
      
/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (orientation: landscape) { 
      html {
        -webkit-background-size: 150%;
        background-size: 150%;
        background-position: left;
      }
      
      section {
          margin-top: 10%;
      }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) { 
      body {
        font-size: 40%;
      }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
      html {
        -webkit-background-size: 150%;
        background-size: 150%;
        background-position: center;
      }
      
      section {
          margin-top: 10%;
      }
}
